html{
    height: 100%;
}

body{
    background-image: url("../img/fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform:translate(-50%, -50%);
}

form label{
    display: block;
    margin: 35px 0;
    color: #FFFCFF;
    height: 20px;
    font-size:1.6em;
    text-transform: uppercase;
    text-shadow: 2px 1px #888888;
}

form input{
    display: block;
    width: 80%;
    height: 40px;
    color: white;
    padding-left: 15px;
    font-size: 24px;
    margin: 20px auto 30px auto;
    background-color: rgba(255,255,255,0.4);
}

form input#send{
    width: 150px;
    margin-right: 15%;
    margin-top: 40px;
    text-align: center;
    font-size: 1.2em;
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
    border-bottom: 2px solid #FF851F;
    border-right: 2px solid #FF851F;
    color: #FFFCFF;
    height: 40px;
    text-transform: uppercase;
    text-shadow: 2px 1px #888888;
    background-color: rgba(0, 0, 0, 0.3);
}