{% extends "base.html" %}
{% block content %}

<header>
  <button class="hamburger">&#9776;</button>
  <button class="cross">&#735;</button>
</header>

<div class="menu">
  <div class="row">
    <div class="checkbox"> <label><input type="checkbox" value=""> OPEN</label> </div>
    <div class="checkbox"> <label><input type="checkbox" value=""> WIN</label> </div>
    <div class="checkbox"> <label><input type="checkbox" value="" > LOST</label> </div>
  </div>
  <br/>
  <form method="post">
    <div class="form-group">
      <input class="form-control" id="date" name="date" placeholder="Date Min" type="text" /> <br/>
      <input class="form-control" id="date" name="date" placeholder="Date Max" type="text" /> <br/>
      <input class="form-control" id="customer" name="Customer" placeholder="Customer name" type="text" /> <br/>
      <input class="form-control" id="Title" name="Title" placeholder="Title" type="text" /> <br/>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" name="submit" type="submit">Submit</button>
    </div>
  </form>
</div>

{% endblock %}