{% extends "base.html" %}
{% block title %}
Snap-AT - Needs List
{% endblock %}

{% block cssPLUS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/screen2.css') }}">
{% endblock %}

{% block content %}

    <header>
        <img src="{{ url_for('static', filename='img/GFI-logo.png') }}">
        <span id="spanName"><span>{{ user.firstname + " " + user.lastname }}</span></span>
    </header>

    <div id="hamburger" class="closed">
        <span class="menu-hamburger"></span>
        <span class="menu-hamburger"></span>
        <span class="menu-hamburger"></span>
    </div>

    <a href="{{ url_for('new_need') }}">
        <div id="addANeed">
            <span class="menuAddANEED" id="span1"></span>
            <span class="menuAddANEED" id="span2"></span>
        </div>
    </a>
    <section id="hiddenPart">
        <form action="{{ url_for('get_needs') }}" method="post">
            <input name="search_bar" id="searchBar" placeholder="Filter">
            <a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a><br/><br/>
            <div id="selectsButtons">
                <input name="open" id="open" type="checkbox" value="1"><label for="open">Open</label>
                <input name="win" id="win" type="checkbox" value="2"><label for="win">Win</label>
                <input name="lost" id="lost" type="checkbox" value="3"><label for="lost">Lost</label><br/>
            </div><br/>
            <label for="initialDate">Min date of need creation</label><br/>
            <input class="dates" name="creation_date" id="initialDate" type="date" placeholder="Min date">
            <div for="initialDate" class="divDatePicker">
                <span for="initialDate" id="initialDatePicker" class="glyphicon glyphicon-calendar"></span>
            </div><br/><br/>
            <label for="dueDate">Max release date fo need</label><br/>
            <input class="dates" name="latest_date" id="dueDate" type="date" placeholder="Max date">
            <div for="dueDate" class="divDatePicker">
                <span for="dueDate" class="glyphicon glyphicon-calendar"></span>
            </div><br/><br/>
            <label for="client_name">Client Name</label><br>
            <select name="client_name" id="client_name">
                {% for client in clients %}<option value="{{ client[1] }}">{{ client[1] }}</option>{% endfor %}
            </select><br/><br/>
            <input name="title" id="titleNeed" type="text" placeholder="Need title"><br/><br/>
            <input id="send" type="submit" value="Apply">
        </form>
    </section>

    <section class="needs">
        <div class="countNeeds"><span> {{ total }} </span> project(s)</div>
        {% for need in needs %}
        <a href="{{ url_for('edit_need', need_id=need.need_id) }}">
            <div class="need" id="test1">
                <div class="dueDate">{{ need.creation_date.strftime('%Y %b %d') }}</div>
                <div class="needContent">
                    <span class="databaseProject">{{ need.title }}</span><br>
                    <span class="databaseName">{{ need.client_name }}</span>
                    <span class="databaseState">{{ need.label_st }}</span>
                </div>
                <div class="delays">Due in <br><span>{{ need.remaining }}</span><br>day(s)</div>
            </div>
        </a>
        {% endfor %}
    </section>

{% endblock %}







