{% extends "base.html" %}
{% block title %}
Snap-AT - New Need
{% endblock %}

{% block cssPLUS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/screen3.css') }}">
{% endblock %}

{% block content %}

	<header>
        <img src="{{ url_for('static', filename='img/GFI-logo.png') }}">
        <span id="spanName">{{ user.firstname + " " + user.lastname }} - New Project</span>
	</header>

	<a href="{{ url_for('get_needs') }}" id="linkToBack">
		<div class="returnBackArrow">
			<span class="glyphicon glyphicon-arrow-left"></span>
		</div>
	</a>

	<form method="post" action="{{ url_for('new_need') }}" enctype="multipart/form-data">
		<legend>New need registration</legend>
		<input type="hidden" name="creation_date" value="{{ params.today }}" placeholder="creationDate">
		<input type="hidden" name="user_id" value="{{ params.user_id }}">
{#		<input type="hidden" name="consultant_name" value="{{ params.consultant_name }}">#}
		<label for="client_id">Client Name : </label>
		<select id="client_id" name="client_id">
			{% for client in params.clients %}
				<option value="{{ client[0] }}">{{ client[1] }}</option>
			{% endfor%}
		</select><br>
		<textarea name="consultant_name" id="consultantName" placeholder="consultantName"></textarea>
		<input type="text" id="title" name="title" placeholder="titleOfTheProject" value=""><br>
		<textarea type="text" id="description" name="description" placeholder="projectsDescription"></textarea><br>
		<textarea type="text" id="key_factors" name="key_factors" placeholder="3 (comma separated) Key factors"></textarea><br>
		<label for="latest_date" id="label_latest_date">
			<input type="date" id="latest_date" name="latest_date" placeholder="Due date" value="" class="inputDates">
			<span class="glyphicon glyphicon-calendar"></span>
		</label>
		<input type="number" id="month_duration" name="month_duration" placeholder="Month duration" value=""><br>
		<input type="number" id="day_duration" name="day_duration" placeholder="Day duration" value=""><br>
		<input type="number" id="price_ht" name="price_ht" placeholder="Price € (HT)" value=""><br>
		<label for="selectStatus">Status</label>
		<select id="selectStatus" name="status_id">
			<option selected="selected" value="1">Open</option>
			<option value="2">Win</option>
			<option value="3">Lost</option>
		</select><br>
		<input type="file" id="attachedFile" name="attachedFile"><br>
		
		<input id="send" type="submit" value="Register &amp; Share" class="createButton">
	</form>

{% endblock %}