{% extends "base.html" %}
{% block content %}

    <section id="hidedPart">
        <form method="get">
            <input id="searchBar" placeholder="Rechercher">
            <a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a><br/><br/>
            <div id="selectsButtons">
                <input id="open" name="open" type="checkbox" value="Open"><label for="open">Open</label>
                <input id="win" name="win" type="checkbox" value="Win"><label for="win">Win</label>
                <input id="lost" name="lost" type="checkbox" value="Lost"><label for="lost">Lost</label><br/>
            </div><br/>
            <label>Date de demande du besoin</label><br/>
            <input id="initialDate" name="creation_date" type="date" placeholder="initialDate"><br/><br/>
            <label>Deadline du besoin</label><br/>
            <input id="dueDate" name="latest_date" type="date" placeholder="dueDate"><br/><br/>
            <input id="clientName" name="client_name" type="text" placeholder="Nom du client"><br/><br/>
            <input id="titleNeed" name="title_need" type="text" placeholder="Titre du besoin"><br/><br/>
            <input type="submit" value="Appliquer">
        </form>
    </section>

{% endblock %}